x-list,
x-chain,
x-module,
x-network {
    display: flex;
    flex-direction: column;
    gap: 4px;

    border: 1px currentColor solid;
    padding: 2px;
    border-radius: 2px;
}

x-network {
    height: 100%;
}

x-network > x-list {
    flex-direction: row;
}

x-list {
    flex-grow: 1;
}

x-module {
    min-width: 32px;
    min-height: 32px;
}

[data-dragged="true"] {
    color: red;
}
